body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://i.pinimg.com/474x/cd/91/7b/cd917b541b6e43a71915367282feb4c9.jpg);
    background-size: cover;
}

.nama {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(33, 35, 36);
}

.container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

.calculator {
    width: 320px;
    height: 520px;
    background-color: bisque transparent;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
    height: 120px;
}

.history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: rgb(1, 13, 1);
}

.output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty {
    background-color: #eaedef;
}

.operator {
    background-color: lightgray;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, empty:focus {
    outline: 0;
}

.operator:nth-child(4) {
    font-size: 20px;
    background-color: rgb(160, 178, 238);
}

.operator:nth-child(8) {
    font-size: 20px;
    background-color: rgb(160, 178, 238);
}

.operator:nth-child(12) {
    font-size: 20px;
    background-color: rgb(160, 178, 238);
}

.operator:nth-child(16) {
    font-size: 20px;
    background-color: rgb(160, 178, 238);
}

.operator:nth-child(20) {
    font-size: 20px;
    background-color: rgb(160, 178, 238);
}